//noinspection ALL
@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  scroll-behavior: smooth;
}
html, body {
  @apply h-full;
}

blockquote {
  @apply border-l;
  @apply border-l-4;
  @apply border-l-red-500;
  @apply pl-4;
  @apply italic;
  @apply my-8;

  p {
    padding: 0 !important;
  }
}

// navBar animation
.animated-link:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  transition: 300ms;
  @apply bg-red-500;
}

.animated-link:hover:after {
  width: 100%;
}

.content-detail {
  @apply text-black;
  p {
    @apply my-4;
  }
}

.skill-label:hover, .nav-arrow:hover {
  filter: brightness(20%);
}



body[data-theme="dark"] {
    background-color: #080607;
    @apply text-gray-300;
    .content-detail {
      @apply text-white;
    }
}

@media print {
  #cv-container {
    padding: 0;
  }
  #nav-container, nav{
    display: none;
  }
}